$component: "island";

.#{$component} {
  border-radius: 1rem;
  background-color: white;

  &__item {
    position: relative;
    padding: 0.5rem 1rem;

    & + & {
      border-top: 1px solid rgb(224, 224, 224);
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;

  .cookbook,
  .trash {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 8px;
    background-color: RGB(220, 53, 69);
    border-radius: 1rem 1rem 0 0;

    .icon {
      width: 28px;
    }
  }

  .list-recepies {
    overflow-y: scroll;
    flex-grow: 1;

    .island__item:hover {
      background-color: #dc35462f;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a.active::after {
      background-color: #f8d68c60;
    }
  }

  .block-recipe {
    display: flex;
    overflow-y: scroll;
    flex-grow: 1;
  }

  h2 {
    font-size: 24px;
    color: white;
  }

  h3 {
    font-size: 22px;
    word-break: break-word;
  }

  .trash {
    border-radius: 0 0 1rem 1rem;
    cursor: pointer;
  }
}

.description {
  background-image: url(../images/dish.jpg);
  background-size: cover;

  .block-recipe {
    display: flex;
    height: 520px;

    h2{
      word-break: break-word;
    }

    .content {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      flex-grow: 1;
    }

    span {
      font-weight: bold;
    }
  }
}

h1 {
  color: RGB(220, 53, 69);
}

.icon {
  max-width: 40px;
  margin-right: 8px;
}

#clock {
  color: RGB(220, 53, 69);
}
